---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperliquid-testnet.xyz
        body: '{"action":{"grouping":"na","orders":[{"a":173,"b":true,"p":"0.2233","r":false,"s":"55","t":{"limit":{"tif":"Gtc"}}}],"type":"order"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid-testnet.xyz/exchange
        method: POST
      response:
        body: '{"status":"err","response":"User or API Wallet 0x6188ed13f33d0ba9f9aa45c5db27504c74fcc88b does not exist."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 294.344625ms
    - id: 1
      request:
        host: api.hyperliquid-testnet.xyz
        body: '{"action":{"grouping":"na","orders":[{"a":173,"b":true,"p":"0.2233","r":false,"s":"25","t":{"limit":{"tif":"Gtc"}}}],"type":"order"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid-testnet.xyz/exchange
        method: POST
      response:
        body: '{"status":"ok","response":{"type":"order","data":{"statuses":[{"error":"Order must have minimum value of $10. asset=173"}]}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.425721166s
    - id: 2
      request:
        host: api.hyperliquid-testnet.xyz
        body: '{"action":{"grouping":"na","orders":[{"a":173,"b":true,"p":"0.1233","r":false,"s":"45","t":{"limit":{"tif":"Gtc"}}}],"type":"order"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid-testnet.xyz/exchange
        method: POST
      response:
        body: '{"status":"ok","response":{"type":"order","data":{"statuses":[{"resting":{"oid":37543129873}}]}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.427808875s
    - id: 3
      request:
        host: api.hyperliquid-testnet.xyz
        body: '{"action":{"grouping":"na","orders":[{"a":173,"b":true,"c":"0x06c60000000000000000000000003f5a","p":"0.1233","r":false,"s":"45","t":{"limit":{"tif":"Gtc"}}}],"type":"order"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid-testnet.xyz/exchange
        method: POST
      response:
        body: '{"status":"ok","response":{"type":"order","data":{"statuses":[{"resting":{"oid":37543130760,"cloid":"0x06c60000000000000000000000003f5a"}}]}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.737141125s
